/* 
    Document   : style
    Created on : 17 Apr, 2013, 3:47:43 PM
    Author     : internmc1
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/******************************* Map ****************************************/

.infoboxeditd{
    height: 30px;
    width: 80px;
    margin-left: -32px;
    margin-top: -13px;
    background-image: url("../images/infobox.png");
    background-size: 100% 100%;
    opacity: 1;
    display: -webkit-box;
    cursor: pointer !important;
}
.labelsMark {
     /*color: white;
     background-color: red;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     text-align: center;
     width: 10px;     
     white-space: nowrap;*/
      color: white;
     background-color: black;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 13px;
     font-weight: bold;
     text-align: center;
     width: auto;
     border: 1px solid white;
     white-space: nowrap;
   }
.infobox{
    height: 100px;
    width: 160px;
    margin-left: -73px;
    margin-top: -13px;
    background-image: url("../images/infobox.png");
    background-size: 100% 100%;
    opacity: 0.8;
    display: -webkit-box;
    cursor: pointer !important;
}

.trackingbox{
      height: 150px;
    width: 200px;
  margin-left: -220px;
    background-image: url(".../images/BlackPin2LargeB.png");
    background-size: 100% 100%;
    opacity: 0.6;
    display: -webkit-box;
    cursor: pointer !important;
}

.infobox .content{
    margin: 8px 0px 0px 5px;
    color: white;
    font-size: 11px;
    width:85%;
}

.infobox img{
    margin-top:11px;
}
/***************************** Map ENDS ************************************/

tablex {
     /*margin-left: 0px;*/
     /*margin-right: 20px;
     margin-top: -15px;*/
     height:100px;
     width:148px;
  border-collapse: separate;
  border-spacing: 0;
  /*color: #4a4a4d;*/
   color: #57A0DC;
  font: 10px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,

.tblgpssummary{

      height:100px;
       /*width:148px;*/
     /*width:151px;*/
     width:170px;
  border-collapse: separate;
  border-spacing: 0;
  /*color: #4a4a4d;*/
    color: #57A0DC;
  font: 10px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.tblgpssummary2{

      height:100px;
       /*width:148px;*/
     /*width:151px;*/
     width:190px;
  border-collapse: separate;
  border-spacing: 0;
  /*color: #4a4a4d;*/
    color: #57A0DC;
  font: 10px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.tblmasterhistory{
    /*margin-top: -21px;*/
        margin-top: -18px;
      /*margin-top: -70px;*/
      /*height:100px;
     width:348px;*/
       height:100%;
     width:100%;
  border-collapse: separate;
  border-spacing: 0;
   color: #57A0DC;
  /*color: #4a4a4d;*/
  /*font: 10px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;*/

}

.tblcurrentlocation{
    margin-top: 0px;
      /*margin-top: -70px;*/
      height:100%;
     width:100%;
  border-collapse: separate;
  border-spacing: 0;
   color: #57A0DC;
  /*color: #4a4a4d;*/
  /*font: 10px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;*/

}


.tblheadetrackedhistory{
    margin-top: -30px;
    margin-left: 0px;
      height:100%;
     width:98%;
      /*height:35px;
     width:248px;*/
  border-collapse: separate;
  border-spacing: 0;
  /*color: #4a4a4d;*/
   color: #57A0DC;
  
  /*font: 10px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;*/

}
td {
  padding: 5px 10px;
  vertical-align: middle;
}

thead {
    background-color:red;
  /*background: #395870;*/
  /*background: linear-gradient(#49708f, #293f50);*/
  /*color: #fff;
  font-size: 11px;
  text-transform: uppercase;*/
}
bhead {
  /*background: #395870;*/
  /*background: linear-gradient(#49708f, #293f50);*/
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
th:first-child {
     background: #395870;
  /*background: linear-gradient(#49708f, #293f50);*/
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
}
th:last-child {
     background: #395870;
  /*//background: linear-gradient(#49708f, #293f50);*/
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
}
thh{
     background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  border-bottom-left-radius: 5px;
  text-align: left;
}



.tde {
    font-size: 12px;
     font-weight:bold;
      vertical-align:top;
      text-align:right;
      /*background: #395870;*/
      /*background-color: #57A0DC;*/
      background: #fff;
  /*background: linear-gradient(#49708f, #293f50);*/
  /*border-bottom: 1px solid #cecfd5;*/
  border-right: 1px solid #cecfd5;
 color:black;
}
.tdspeed {
    /*font-size: 15px;
     font-weight:bold;
      background: #395870;
  background: linear-gradient(#49708f, #293f50);
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
  color: #fff;*/

     font-size: 8px;
    font-weight:bold;
    background: #57A0DC;
    /*background: linear-gradient(#49708f, #57A0DC);*/
       /*background: #395870;*/
  /*background: linear-gradient(#49708f, #293f50);*/
  /*border-bottom: 1px solid #cecfd5;*/
  border-right: 1px solid #cecfd5;
  /*border-left: 1px solid #cecfd5;*/
  color:  #fff;
}

.tdspeedmax {
    font-size: 13px;
     font-weight:bold;
      /*background: #395870;*/
       background: #57A0DC;
  /*background: linear-gradient(#49708f, #293f50);*/
  /*border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
    border-left: 1px solid #cecfd5;
    border-top: 1px solid #cecfd5;*/
  color: #fff;
}




.tdstreetViewTblInfo {
    font-size: 13px;
     font-weight:bold;
      /*background: #395870;*/
       background: transparent;
  /*background: linear-gradient(#49708f, #293f50);*/
  /*border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
    border-left: 1px solid #cecfd5;
    border-top: 1px solid #cecfd5;*/
  color: #fff;
}

.tdstreetViewTblInfo1 {
     font-size: 8px;
    font-weight:bold;
    background: transparent;
    /*background: linear-gradient(#49708f, #57A0DC);*/
       /*background: #395870;*/
  /*background: linear-gradient(#49708f, #293f50);*/
  /*border-bottom: 1px solid #cecfd5;*/
  border-right: 1px solid #cecfd5;
  /*border-left: 1px solid #cecfd5;*/
  color:  #fff;
}

.tdk {
    font-size: 8px;
    font-weight:bold;
    text-align:right;
     vertical-align: text-top;
      background: #fff;
       /*background-color: #57A0DC;*/
            /*background: #395870;
  background: linear-gradient(#49708f, #293f50);*/
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
  border-left: 1px solid #cecfd5;
  color:black;
}
.tabledetail {
     margin-left: 0px;
    
     height:310px;
     width:265px;
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 10px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tdgpsdata {
    font-size: 14px;
     font-weight:bold;
      /*background: #395870;*/
      background: #57A0DC;
  /*background: linear-gradient(#49708f, #293f50);*/
  /*background: linear-gradient(#57A0DC, #57A0DC);*/
  border-bottom: 1px solid #cecfd5;
  /*border-right: 1px solid #cecfd5;*/
  color: #fff;
   height:15px;
}
.tdgpsdatahistory {
    font-size: 14px;
     font-weight:bold;
      margin-left: -10px;
      /*background: #395870;*/
      background: #57A0DC;
  /*background: linear-gradient(#49708f, #293f50);*/
  background: linear-gradient(#57A0DC, #57A0DC);
  border-bottom: 1px solid #cecfd5;
  /*border-right: 1px solid #cecfd5;*/
  color: #fff;
   height:15px;
}
.tdgpslabel {
    font-size: 10px;
     font-weight:normal;
      /*background: #395870;*/
       background: #57A0DC;
    background: linear-gradient(#57A0DC, #57A0DC);
  /*background: linear-gradient(#49708f, #293f50);*/
  border-bottom: 1px solid #cecfd5;
  /*border-right: 1px solid #cecfd5;*/
  color: #fff;
   height:10px;
}
/*td:first-child {
  border-left: 1px solid #cecfd5;
}*/
.book-title {
      background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #395870;
  display: block;
}
.text-offset {
  color: #7c7c80;
  font-size: 12px;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
   background: #f0f0f2;
  color: #395870;
  font-weight: bold;
   border-bottom-left-radius: 5px;
}
tfoot tr:last-child {
  background: #f0f0f2;
  color: #395870;
  font-weight: bold;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
} 

/*.my-panel .x-panel-inner {
    background-color: #57A0DC !important;
}*/
.my-panel .x-panel-inner {
    background-color: transparent !important;
}

/*th:last-child {
     background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  border-top-right-radius: 5px;
}
tbody tr:nth-child(even) {
  
   background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
}*/

 .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }


      #trigger-search {
 
    border: 1px solid black;
    margin: 10px;
    background: yellow;
}



      div.transbox1 {
  /*margin: 30px;*/
  /*width:200px;*/
  /*height:200px;
  width:250px;
  text-align:center;
   vertical-align: middle;
   font-size:16px;*/

  /*height:900px;*/
  background-color: black;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

            div.transbox2 {
  /*margin: 30px;*/
  /*width:200px;*/
  background-color: #57A0DC;
  border: 1px solid #57A0DC;
  opacity: 1;
  font-size:medium;
  color: white;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
      div.transbox {
  /*margin: 30px;*/
  /*width:200px;*/
  background-color: black;
  border: 1px solid white;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 1%;
  /*font-weight:normal;*/
   font-size:medium;
  color: white;
   /*width:auto;*/
}

div.transbox p1 {
  margin: 1%;
  /*font-weight:normal;*/
  font-size:small;
  color: white;
   /*width:auto;*/
}

            div.transboxtitle {
 width:1400px;
  height:700px;
  background-color: black;
  border: 1px solid white;
  opacity: 0.3;
  filter: alpha(opacity=60); /* For IE8 and earlier */
 z-index:2;
}

div.transboxtitle p {
  margin: 3%;
  font-weight: bold;
  color: white;
   /*width:auto;*/
}




/*#content {
    display: inline-block;
}
#content-text {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    background-color: rgb(70, 121,189);
    padding: 10px 2px 10px 2px;
    color: white;
}
#content-arrow {
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(70, 121,189);
}*/